@{
    ViewBag.Title = "Acerca de";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta es una iniciativa social para poder ayudar a encontrar los objetos perdidos en la Facultad de Ingeniería de la Universidad Distrital Francisco
    José de Caldas</p>
