@{
    ViewBag.Title = "ObjectFinder";
}

<div class="jumbotron">
    <h1>OBJECTFINDER</h1>
    <p class="lead">¡Reporta y consulta los objetos que hayas pérdido o encontrado!</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Registra Cualquier Objeto Encontrado</h2>
        <p>
            A través de esta plataforma puedes registrar tantos objetos que hayas encontrado.
            La finalidad de la plataforma es la administración de los objetos perdidos con el fin
            ayudar en lo posible aquella persona que haya extraviado el mismo.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Consulta el Objeto que Hayas Perdido</h2>
        <p>A través de la plataforma podrás disponer de ciertos objetos que hayan cargado al portal; por tanto,
        puedes consultar los mismos y con suerte encontrarás tu objeto perdido.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recupéra tu Objeto!</h2>
        <p>Recupera tu objeto si logras identificarlo en la plataforma, una vez lo tengas
        no olvides comentar con otros esta iniciativa social.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>