<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWsObjectFinder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.191.196.126/Servicio/WsObjectFinder.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsObjectFinder"
                contract="WsObjectfinder.IWsObjectFinder" name="BasicHttpBinding_IWsObjectFinder" />
        </client>
    </system.serviceModel>
</configuration>