<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWsObjectFinder" openTimeout="00:10:00"
          receiveTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647"
          maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51565/Servicio/WsObjectFinder.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWsObjectFinder"
        contract="WsObjectfinder.IWsObjectFinder" name="BasicHttpBinding_IWsObjectFinder" />
    </client>
  </system.serviceModel>
</configuration>